.card-sobre {
    position: relative;
    width: 15em !important;
    margin: 1em;
    height: 15em;
    background-size: cover;
    overflow: hidden;
    border-radius: 50% !important;
}

.card-sobre .image {
    display: flex;
    width: 15em;
  }

.card-sobre .image {

}