nav {
    box-shadow: 0 3px 5px rgba(0,0,0,0);
    background-color: rgba(0, 0, 0, 0);
    transition: all 300ms linear;
}

.nav-wrapper {
    margin-right: 1em;
    margin-left: 1em;
}

.thumb {
    padding-top: .13em;
    padding-left: .1em;
    width: 2em;
}

nav li {
    color: #d3d3cb
}

.active {
  background-color: rgb(47,41,43);
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}