.doc-navigation {
    background-color: #dcd4bd;
    position: fixed;
    height: 100%;
    padding-bottom: 1em;
}

.doc-navigation li {
    line-height: 2em;
}

.doc-index-item {
    font-family: 'Palanquin', sans-serif;
    padding-left: 1em;
    cursor: pointer;
}

.doc-index-item:hover {
    border-left: 5px solid #b0c278;
}

.doc-navigation .doc-title {
    font-size: 1.2em;
}

.doc-content {
    padding-left: 5em;
}
